<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
        <script src="myApp.js"></script>
    </head>
    <body>
        <div ng-app="App" ng-controller="controller" class="jumbotron">
            <div class="form-row">
                <div class="col col-md-5">
                    <input type="text" class="form-control" ng-model="Title"  placeholder="Enter Movie name here">
                </div>
                <div class="col col-md-5">
                    <input type="text" class="form-control" ng-model="Year"  placeholder="Enter Year here">
                </div>
                <div class="col col-md-2">
                    <button type="submit" ng-click="generate(Title,Year)" class="btn btn-primary">Generate</button>
                </div>
            </div>
            </br>
            <br>
            <h2 class="text-center">Your last 5 searches:</h2>
            <ul class="list-group">
                <li class="list-group-item" ng-click="generate(user.Title,user.Year)" ng-repeat="user in userData track by $index" ><a href="#">{{user.Title}}, {{user.Year}}</a></li>
            </ul>
   <!--{{ error }}-->
        </div>
    </body>
</html>

  