<html ng-app="demo">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script>
            angular.module('demo', [])
                .controller('Hello', function($scope, $http, $window, $location){
                $scope.Display = function(Title) {
                    //$window.alert(Title);
                    $http.get('http://www.omdbapi.com/?i=tt3896198&apikey=278d2ff3&t='+Title)
                        .then(function(response) {
                        //$window.alert("hello");
                        $scope.greeting = response.data;
                        $window.location.href="file:///Users/bhuvana/Desktop/Homeworks/Webclass/Fyle_assignment/index.html";
                 })};
            });
            
        </script>
    
    </head>
    <body>
        <div>
            <form id="my_form" ng-controller="Hello" class="">
              <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="First name" ng-model="Title">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>
               <button type="submit" class="btn btn-primary" ng-click="Display(Title)" >Submit</button>
                <p>The Title is {{greeting.Title}}</p>
                <p>The Genre is {{greeting.Genre}}</p>
            </form>
           <!-- <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="Display(Title)">
                    Link with href
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <p>The Title is {{greeting.Title}}</p>
                    <p>The Genre is {{greeting.Genre}}</p>
                </div>
            </div>-->
		</div>
    </body>
</html>